#General options (see README.md). SQW_ID_SITE and SQW_SITENAME must be changed.

SQW_ID_SITE=00000
SQW_SITENAME=change_this
SQW_MESSAGE=
SQW_TARGETING=0
SQW_BEACON=0
SQW_DEBUG=0
SQW_DWIDE=1
SQW_LANG=en
SQW_AUTOLOGIN=1
SQW_TUNNEL=support

#Buttons customization (see README.md)

SQW_LOGIN=
SQW_CONNECTED=
SQW_SUPPORT=
SQW_BTN_NOADS=
SQW_LOGIN_TINY=
SQW_CONNECTED_S=
SQW_BTN_UNLIMITED=
SQW_CONNECTED_TINY=
SQW_CONNECTED_SUPPORT=
